{% extends 'base.html' %}

{% block title %}
🐸 Facts
{% endblock %}

{% block content %}
    <table class="table table-dark table-hover">
    <thead>
    <tr>
        <th scope="col">Fact ID</th>
        <th scope="col">Coolness</th>
        <th scope="col">Username</th>
        <th scope="col">Title</th>
        <th scope="col">More Info</th>
    </tr>
  </thead>
  <tbody>

        {% for item in items%}
        <tr>
            <th scope="row">{{item[0]}}</th>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3] | safe}}</td>
            <td>
                <a href="/fact_item/{{ item[0] }}">
                    <button type="button" class="btn btn-light">All Infos</button>
                </a>
            </td>
        </tr>
        {% endfor %}

  </tbody>
</table>
{% endblock %}
